table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    background-color: #948f8f;
}

th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #f4f7f5;    
    background-color: #444647;
    line-height: 1.4;
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    color: #121312;    
    padding-left: 10px;    
    padding-top: 5px;
    padding-bottom: 5px;
}

th,
td {
    font-weight: unset;
    padding-right: 10px;
}